# EDA Covid

### 1. Data

##### 1-1. data load

In [1]:
import pandas as pd

data = r"C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Data_TIL\EDA\data\owid-covid-data.csv"
df = pd.read_csv(data)
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

##### 1-2. Data check

In [5]:
df.shape

(192301, 67)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192301 entries, 0 to 192300
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    192301 non-null  object
 1   continent                                   181123 non-null  object
 2   location                                    192301 non-null  object
 3   date                                        192301 non-null  object
 4   total_cases                                 184750 non-null  float64
 5   new_cases                                   184508 non-null  float64
 6   new_cases_smoothed                          183334 non-null  float64
 7   total_deaths                                166260 non-null  float64
 8   new_deaths                                  166241 non-null  float64
 9   new_deaths_smoothed                         165078 non-null  float64
 10  total_cases_per_million                     183898 non-null  float64
 11  new_cases_per_million                       183656 non-null  float64
 12  new_cases_smoothed_per_million              182487 non-null  float64
 13  total_deaths_per_million                    165421 non-null  float64
 14  new_deaths_per_million                      165402 non-null  float64
 15  new_deaths_smoothed_per_million             164244 non-null  float64
 16  reproduction_rate                           143384 non-null  float64
 17  icu_patients                                25581 non-null   float64
 18  icu_patients_per_million                    25581 non-null   float64
 19  hosp_patients                               26818 non-null   float64
 20  hosp_patients_per_million                   26818 non-null   float64
 21  weekly_icu_admissions                       6252 non-null    float64
 22  weekly_icu_admissions_per_million           6252 non-null    float64
 23  weekly_hosp_admissions                      12463 non-null   float64
 24  weekly_hosp_admissions_per_million          12463 non-null   float64
 25  total_tests                                 77796 non-null   float64
 26  new_tests                                   74090 non-null   float64
 27  total_tests_per_thousand                    77796 non-null   float64
 28  new_tests_per_thousand                      74090 non-null   float64
 29  new_tests_smoothed                          101500 non-null  float64
 30  new_tests_smoothed_per_thousand             101500 non-null  float64
 31  positive_rate                               93607 non-null   float64
 32  tests_per_case                              91844 non-null   float64
 33  tests_units                                 104285 non-null  object
 34  total_vaccinations                          52725 non-null   float64
 35  people_vaccinated                           50207 non-null   float64
 36  people_fully_vaccinated                     47700 non-null   float64
 37  total_boosters                              24777 non-null   float64
 38  new_vaccinations                            43231 non-null   float64
 39  new_vaccinations_smoothed                   104052 non-null  float64
 40  total_vaccinations_per_hundred              52725 non-null   float64
 41  people_vaccinated_per_hundred               50207 non-null   float64
 42  people_fully_vaccinated_per_hundred         47700 non-null   float64
 43  total_boosters_per_hundred                  24777 non-null   float64
 44  new_vaccinations_smoothed_per_million       104052 non-null  float64
 45  new_people_vaccinated_smoothed              102973 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  102973 non-null  float64
 47  stringency_index                            149839 non-null  float64
 48  population                                  191132 non-null  float64
 49  population_density                          171353 non-null  float64
 50  median_age                                  158825 non-null  float64
 51  aged_65_older                               157142 non-null  float64
 52  aged_70_older                               157992 non-null  float64
 53  gdp_per_capita                              157971 non-null  float64
 54  extreme_poverty                             103125 non-null  float64
 55  cardiovasc_death_rate                       158461 non-null  float64
 56  diabetes_prevalence                         166210 non-null  float64
 57  female_smokers                              119852 non-null  float64
 58  male_smokers                                118209 non-null  float64
 59  handwashing_facilities                      77857 non-null   float64
 60  hospital_beds_per_thousand                  140598 non-null  float64
 61  life_expectancy                             179837 non-null  float64
 62  human_development_index                     154377 non-null  float64
 63  excess_mortality_cumulative_absolute        6553 non-null    float64
 64  excess_mortality_cumulative                 6553 non-null    float64
 65  excess_mortality                            6553 non-null    float64
 66  excess_mortality_cumulative_per_million     6553 non-null    float64
dtypes: float64(62), object(5)
memory usage: 98.3+ MB

In [7]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.847500e+05,1.845080e+05,1.833340e+05,1.662600e+05,166241.000000,165078.000000,183898.000000,183656.000000,182487.000000,165421.000000,...,119852.000000,118209.000000,77857.000000,140598.000000,179837.000000,154377.000000,6.553000e+03,6553.000000,6553.000000,6553.000000
mean,3.329641e+06,1.231252e+04,1.235621e+04,6.505997e+04,157.239622,158.201928,42036.191900,185.433528,185.802281,591.453159,...,10.643429,32.792516,50.920674,3.068607,73.649049,0.725202,4.093095e+04,9.773072,15.594497,1117.569401
std,2.091527e+07,8.707695e+04,8.553768e+04,3.388959e+05,788.455801,771.961491,78137.397861,945.748249,616.788003,876.865095,...,10.580144,13.530280,31.855945,2.520116,7.449479,0.149729,1.138387e+05,16.007568,28.965876,1563.316733
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,2.727000e+03,0.000000e+00,6.714000e+00,9.500000e+01,0.000000,0.143000,791.646000,0.000000,1.490000,23.671000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,-1.100000e+01,-0.120000,-0.280000,-6.412607
50%,3.610900e+04,7.000000e+01,1.005710e+02,9.250000e+02,1.000000,2.000000,6610.254000,10.144000,19.114000,165.649000,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,4.269400e+03,6.570000,7.460000,574.011450
75%,3.824515e+05,1.022000e+03,1.133821e+03,8.501250e+03,17.000000,19.000000,52256.137750,101.813250,128.976000,854.179000,...,19.300000,41.300000,83.241000,4.000000,79.070000,0.845000,2.786380e+04,14.700000,21.800000,1794.278748
max,5.330391e+08,4.079835e+06,3.437236e+06,6.302261e+06,18151.000000,14795.286000,706541.904000,208049.887000,37617.428000,6393.427000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.213593e+06,111.010000,375.000000,9725.192865

In [8]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [18]:
df["iso_code"].unique()

array(['AFG', 'OWID_AFR', 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG',
       'ARM', 'ABW', 'OWID_ASI', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD',
       'BRB', 'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BES',
       'BIH', 'BWA', 'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM',
       'CMR', 'CAN', 'CPV', 'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL',
       'COM', 'COG', 'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW', 'CYP',
       'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV',
       'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'OWID_EUR', 'OWID_EUN', 'FRO',
       'FLK', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB', 'GEO', 'DEU',
       'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM', 'GGY', 'GIN',
       'GNB', 'GUY', 'HTI', 'OWID_HIC', 'HND', 'HKG', 'HUN', 'ISL', 'IND',
       'IDN', 'OWID_INT', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'JAM',
       'JPN', 'JEY', 'JOR', 'KAZ', 'KEN', 'KIR', 'OWID_KOS', 'KWT', 'KGZ',
       'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'OWID_LIC',
       'OWID_LMC', 'LUX', 'MAC', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT',
       'MHL', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE',
       'MSR', 'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL',
       'NZL', 'NIC', 'NER', 'NGA', 'NIU', 'OWID_NAM', 'PRK', 'MKD',
       'OWID_CYN', 'MNP', 'NOR', 'OWID_OCE', 'OMN', 'PAK', 'PLW', 'PSE',
       'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'PCN', 'POL', 'PRT', 'PRI',
       'QAT', 'ROU', 'RUS', 'RWA', 'SHN', 'KNA', 'LCA', 'SPM', 'VCT',
       'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP',
       'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'OWID_SAM', 'KOR', 'SSD',
       'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK',
       'TZA', 'THA', 'TLS', 'TGO', 'TKL', 'TON', 'TTO', 'TUN', 'TUR',
       'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'VIR',
       'OWID_UMC', 'URY', 'UZB', 'VUT', 'VAT', 'VEN', 'VNM', 'WLF', 'ESH',
       'OWID_WRL', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [20]:
df_KOR = df[df["iso_code"] == 'KOR']
df_KOR

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
160818,KOR,Asia,South Korea,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
160819,KOR,Asia,South Korea,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
160820,KOR,Asia,South Korea,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
160821,KOR,Asia,South Korea,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
160822,KOR,Asia,South Korea,2020-01-26,3.0,1.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,43.4,0.17,2.47,0.845918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161681,KOR,Asia,South Korea,2022-06-03,18153851.0,12016.0,12311.714,24238.0,9.0,14.143,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
161682,KOR,Asia,South Korea,2022-06-04,18163686.0,9835.0,11909.000,24258.0,20.0,14.286,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
161683,KOR,Asia,South Korea,2022-06-05,18168708.0,5022.0,11749.429,24279.0,21.0,16.000,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
161684,KOR,Asia,South Korea,2022-06-06,18174880.0,6172.0,10177.429,24299.0,20.0,17.571,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
161685,KOR,Asia,South Korea,2022-06-07,18188200.0,13320.0,9826.429,24305.0,6.0,15.429,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN

In [21]:
df_USA = df[df["iso_code"] == "USA"]
df_USA

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
181173,USA,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
181174,USA,North America,United States,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
181175,USA,North America,United States,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
181176,USA,North America,United States,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
181177,USA,North America,United States,2020-01-26,5.0,3.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,-8913.0,-3.59,-2.62,-26.772594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182036,USA,North America,United States,2022-06-03,84724329.0,154004.0,105682.000,1008422.0,391.0,252.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
182037,USA,North America,United States,2022-06-04,84748884.0,24555.0,107405.143,1008567.0,145.0,268.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
182038,USA,North America,United States,2022-06-05,84762022.0,13138.0,108633.571,1008585.0,18.0,270.286,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
182039,USA,North America,United States,2022-06-06,84882287.0,120265.0,117283.714,1008857.0,272.0,305.286,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
182040,USA,North America,United States,2022-06-07,85003945.0,121658.0,110816.714,1009326.0,469.0,323.429,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN

In [23]:
df_KOR_selec = df_KOR[["iso_code", "location", "date", "total_cases", "population"]]
df_KOR_selec.head()

       iso_code     location        date  total_cases  population
160818      KOR  South Korea  2020-01-22          1.0  51305184.0
160819      KOR  South Korea  2020-01-23          1.0  51305184.0
160820      KOR  South Korea  2020-01-24          2.0  51305184.0
160821      KOR  South Korea  2020-01-25          2.0  51305184.0
160822      KOR  South Korea  2020-01-26          3.0  51305184.0